In [120]:
# Before scale and encoding and target transformation
df5[['sales', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week', 'state_holiday', 'year']]

,sales,assortment,store_type,competition_distance,competition_time_month,promo_time_week,state_holiday,year
0,5263,basic,c,1270.000,84,0,regular_day,2015
1,6064,basic,a,570.000,94,279,regular_day,2015
2,8314,basic,a,14130.000,105,226,regular_day,2015
3,13995,extended,c,620.000,71,0,regular_day,2015
4,4822,basic,a,29910.000,4,0,regular_day,2015
...,...,...,...,...,...,...,...,...
1016776,3375,basic,b,150.000,77,0,public holiday,2013
1016827,10765,extra,b,860.000,161,0,public holiday,2013
1016863,5035,extra,b,840.000,0,6,public holiday,2013
1017042,4491,extra,b,1430.000,0,0,public holiday,2013
1017190,5961,extra,b,720.000,131,0,public holiday,2013

In [124]:
# After scale and encoding
df5[['sales', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week','state_holiday_Christmas', 'state_holiday_Easter holiday', 
     'state_holiday_public holiday', 'state_holiday_regular_day',  'year']]

,sales,assortment,store_type,competition_distance,competition_time_month,promo_time_week,state_holiday_Christmas,state_holiday_Easter holiday,state_holiday_public holiday,state_holiday_regular_day,year
0,5263,1,2,-0.171,0.919,0.287,0,0,0,1,1.000
1,6064,1,0,-0.284,1.054,0.923,0,0,0,1,1.000
2,8314,1,0,1.903,1.203,0.802,0,0,0,1,1.000
3,13995,3,2,-0.276,0.743,0.287,0,0,0,1,1.000
4,4822,1,0,4.448,-0.162,0.287,0,0,0,1,1.000
...,...,...,...,...,...,...,...,...,...,...,...
1016776,3375,1,1,-0.352,0.824,0.287,0,0,1,0,0.000
1016827,10765,2,1,-0.237,1.959,0.287,0,0,1,0,0.000
1016863,5035,2,1,-0.240,-0.216,0.301,0,0,1,0,0.000
1017042,4491,2,1,-0.145,-0.216,0.287,0,0,1,0,0.000
1017190,5961,2,1,-0.260,1.554,0.287,0,0,1,0,0.000

In [126]:
# After scale and encoding and target transformation
df5[['sales', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week','state_holiday_Christmas', 'state_holiday_Easter holiday', 
     'state_holiday_public holiday', 'state_holiday_regular_day',  'year']]

,sales,assortment,store_type,competition_distance,competition_time_month,promo_time_week,state_holiday_Christmas,state_holiday_Easter holiday,state_holiday_public holiday,state_holiday_regular_day,year
0,8.569,1,2,-0.171,0.919,0.287,0,0,0,1,1.000
1,8.710,1,0,-0.284,1.054,0.923,0,0,0,1,1.000
2,9.026,1,0,1.903,1.203,0.802,0,0,0,1,1.000
3,9.547,3,2,-0.276,0.743,0.287,0,0,0,1,1.000
4,8.481,1,0,4.448,-0.162,0.287,0,0,0,1,1.000
...,...,...,...,...,...,...,...,...,...,...,...
1016776,8.124,1,1,-0.352,0.824,0.287,0,0,1,0,0.000
1016827,9.284,2,1,-0.237,1.959,0.287,0,0,1,0,0.000
1016863,8.524,2,1,-0.240,-0.216,0.301,0,0,1,0,0.000
1017042,8.410,2,1,-0.145,-0.216,0.287,0,0,1,0,0.000
1017190,8.693,2,1,-0.260,1.554,0.287,0,0,1,0,0.000

In [151]:
# After scale and encoding and target transformation and cols selected boruta
df7[['sales', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week']]

,sales,assortment,store_type,competition_distance,competition_time_month,promo_time_week
0,8.569,1,2,-0.171,0.919,0.287
1,8.710,1,0,-0.284,1.054,0.923
2,9.026,1,0,1.903,1.203,0.802
3,9.547,3,2,-0.276,0.743,0.287
4,8.481,1,0,4.448,-0.162,0.287
...,...,...,...,...,...,...
1016776,8.124,1,1,-0.352,0.824,0.287
1016827,9.284,2,1,-0.237,1.959,0.287
1016863,8.524,2,1,-0.240,-0.216,0.301
1017042,8.410,2,1,-0.145,-0.216,0.287
1017190,8.693,2,1,-0.260,1.554,0.287

In [213]:
X_train[['assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week']]

,assortment,store_type,competition_distance,competition_time_month,promo_time_week
47945,1,2,-0.171,0.892,0.287
47946,1,0,-0.284,1.027,0.909
47947,1,0,1.903,1.189,0.788
47948,3,2,-0.276,0.730,0.287
47949,1,0,4.448,-0.189,0.287
...,...,...,...,...,...
1016776,1,1,-0.352,0.824,0.287
1016827,2,1,-0.237,1.959,0.287
1016863,2,1,-0.240,-0.216,0.301
1017042,2,1,-0.145,-0.216,0.287
1017190,2,1,-0.260,1.554,0.287

In [215]:
y_train

47945     8.444
47946     8.548
47947     8.928
47948     9.092
47949     8.502
           ...
1016776   8.124
1016827   9.284
1016863   8.524
1017042   8.410
1017190   8.693
Name: sales, Length: 802942, dtype: float64

In [218]:
np.expm1(y_train)

47945      4645.000
47946      5154.000
47947      7537.000
47948      8880.000
47949      4924.000
             ...
1016776    3375.000
1016827   10765.000
1016863    5035.000
1017042    4491.000
1017190    5961.000
Name: sales, Length: 802942, dtype: float64

In [214]:
X_test[['assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week']]

,assortment,store_type,competition_distance,competition_time_month,promo_time_week
0,1,2,-0.171,0.919,0.287
1,1,0,-0.284,1.054,0.923
2,1,0,1.903,1.203,0.802
3,3,2,-0.276,0.743,0.287
4,1,0,4.448,-0.162,0.287
...,...,...,...,...,...
47940,1,0,-0.069,-0.054,0.510
47941,3,2,-0.073,1.297,0.287
47942,3,0,1.118,-0.216,0.287
47943,3,0,-0.235,-0.216,0.287
47944,3,3,0.487,-0.216,0.651

In [216]:
y_test

0       8.569
1       8.710
2       9.026
3       9.547
4       8.481
         ...
47940   8.634
47941   9.327
47942   8.870
47943   9.991
47944   9.023
Name: sales, Length: 41396, dtype: float64

In [220]:
np.expm1(y_test)

0        5263.000
1        6064.000
2        8314.000
3       13995.000
4        4822.000
           ...
47940    5618.000
47941   11240.000
47942    7114.000
47943   21834.000
47944    8291.000
Name: sales, Length: 41396, dtype: float64

In [85]:
yhat_xgb_tuned

array([ 8.624243,  8.662984,  9.128985, ...,  8.893774, 10.084176,
        9.088051], dtype=float32)

In [86]:
np.expm1(yhat_xgb_tuned)

array([ 5563.9473,  5783.77  ,  9217.664 , ...,  7285.467 , 23959.84  ,
        8847.921 ], dtype=float32)

In [84]:
df9[['sales', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week']]

,sales,assortment,store_type,competition_distance,competition_time_month,promo_time_week
0,8.569,1,2,-0.171,0.919,0.287
1,8.710,1,0,-0.284,1.054,0.923
2,9.026,1,0,1.903,1.203,0.802
3,9.547,3,2,-0.276,0.743,0.287
4,8.481,1,0,4.448,-0.162,0.287
...,...,...,...,...,...,...
47940,8.634,1,0,-0.069,-0.054,0.510
47941,9.327,3,2,-0.073,1.297,0.287
47942,8.870,3,0,1.118,-0.216,0.287
47943,9.991,3,0,-0.235,-0.216,0.287
47944,9.023,3,3,0.487,-0.216,0.651

In [88]:
#sales e prediction retransformados

df9[['sales', 'predictions', 'assortment', 'store_type', 'competition_distance', 'competition_time_month', 
     'promo_time_week']]

,sales,predictions,assortment,store_type,competition_distance,competition_time_month,promo_time_week
0,5263.000,5563.947,1,2,-0.171,0.919,0.287
1,6064.000,5783.770,1,0,-0.284,1.054,0.923
2,8314.000,9217.664,1,0,1.903,1.203,0.802
3,13995.000,11992.068,3,2,-0.276,0.743,0.287
4,4822.000,6338.630,1,0,4.448,-0.162,0.287
...,...,...,...,...,...,...,...
47940,5618.000,6129.334,1,0,-0.069,-0.054,0.510
47941,11240.000,10589.742,3,2,-0.073,1.297,0.287
47942,7114.000,7285.467,3,0,1.118,-0.216,0.287
47943,21834.000,23959.840,3,0,-0.235,-0.216,0.287
47944,8291.000,8847.921,3,3,0.487,-0.216,0.651

In [ ]:
# na predicao com o modelo final, exceto o target variable que e retransformado para os valores reais, as outras variaveis q
#sofreram rescala e encoder continuam na forma de rescala e encoder.

In [ ]:
# pelo o q eu entendi, no modelo de regressao, nao e necessario retransformar as variaveis de predicao.

In [ ]:
# ao adicionar novos dados, esses dados seram escalados e transformados antes de passar pelo modelo, para enfim ser 
#feito a previsao